example_models/yolov5s_USA-All-Seasons_v1.pt filter=lfs diff=lfs merge=lfs -text
example_models/yolov5s_USA-RUS-All-Seasons_v1.pt filter=lfs diff=lfs merge=lfs -text
example_data/USA_summer/**/* filter=lfs diff=lfs merge=lfs -text
example_data/USA_summer/dev_val.csv filter=lfs diff=lfs merge=lfs -text
